.birla-top-banner{
    background-color: #026FC2;
    color: white;
    padding: 15px 72px;
    height: 300px;
}

.birla-top-banner div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}