.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
/* terms policy */
main > .section.termpolicyworkcontainer > div{
  max-width: 80pc;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.termpolicyworkcontainer .cards > ul{
  grid-template-columns: unset;
  display: unset;
}
.termpolicyworkcontainer .cards > ul > li {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-direction: row-reverse;
   background-color: #f1f3fc;
  border-radius: 25px;

}
.termpolicyworkcontainer .cards > ul > li .cards-card-image img{
  max-width: 603.305px;
  width: 100%;
  height: 458px;
  object-fit: cover;
}
.termpolicyworkcontainer .cards-wrapper{
  background-color: #f1f3fc;
  border-radius: 25px;
}
.termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h1,
.termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h2,
.termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h3,
.termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h4,
.termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h5,
.termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h6,
.termpolicyworkcontainer .cards-card-body ul li:nth-child(1) p{
    color: #221f20;
    font-family: Gotham Pro, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.16pc;
    margin-bottom: 40px;
}
.termpolicyworkcontainer .cards-card-body ul li{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
     color: #221f20;
    font-family: Gotham Pro, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 20.72px;
    /* padding-left: 2pc; */
}
.termpolicyworkcontainer .cards-card-body ul li:last-child{
    margin-bottom: 0;
}
.termpolicyworkcontainer .cards .cards-card-body{
  padding: 2pc;
  margin: 0;
  width: 596px;
} 
.termpolicyworkcontainer .cards-card-body ul li .icon-orange-fright-with-bg{
  width: 20px;
  height: 20px;
}

main > .section.termpolicyworkcontainer:first-of-type{
  padding: 60px 16px 0 16px;
}
@media screen and (max-width:768px) {
    .termpolicyworkcontainer  .cards-card-image{
      display: none;
    }
    .termpolicyworkcontainer .cards .cards-card-body{
      width: 100%;
      padding: 24px 1pc;
    }
    .termpolicyworkcontainer .cards-card-body ul li:first-child{
      margin: 0;
    }
    .termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h1, .termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h2, .termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h3, .termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h4, .termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h5, .termpolicyworkcontainer .cards-card-body ul li:nth-child(1) h6, .termpolicyworkcontainer .cards-card-body ul li:nth-child(1) p{
        font-size: 1.5rem;
        line-height: .27in;
    }
}
/* terms policy */
/* talktoadv5isory  */
main > .section.talktoadvisory > div{
  max-width: 80pc;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.talktoadvisory .cards > ul{
  display: initial;
}
.talktoadvisory .cards-wrapper .cards-card-image{
  display: initial;
  padding: 40px 5pc;

}
.talktoadvisory .cards .cards-card-body{
  margin: 0;
  padding: 90px 13.1% 90px 0;
  width: 60%;
}
.talktoadvisory .cards > ul > li {
  display: flex;
  /* justify-content: space-between; */
  border: unset;
  background-color: #edf4fd;
  border-radius: 1pc;
  align-items: center;
}
.talktoadvisory .cards-card-body ul li:nth-child(1) {
      color: #221f20;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 160%;
    padding-bottom: 1pc;
}
.talktoadvisory .cards-card-body ul li:nth-child(2){
    color: #221f20;
    font-size: 2rem;
    font-weight: 500;
    line-height: 108%;
    padding-bottom: 1pc;
}
.talktoadvisory .cards-card-body ul li:nth-child(3){
    color: #221f20;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 160%;
    padding-bottom: 1pc;
}
.talktoadvisory .cards-card-body ul:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
}
.talktoadvisory .cards-card-body ul:nth-child(2) li:nth-child(1),
.talktoadvisory .cards-card-body ul:nth-child(2) li:nth-child(2){
  width: 100%;
}
.talktoadvisory .cards-card-body ul:nth-child(2) li:nth-child(1) a{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--brand-dark-blue-true-dark-blue, #19417a);
    border-radius: 75pt;
    color:  #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Gotham Pro, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    height: 4pc;
    justify-content: center;
    line-height: 18px;
    padding: 0 24px;
    width: 100%;
    text-decoration: none;
}
.talktoadvisory .cards-card-body ul:nth-child(2) li:nth-child(2) a{
  -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: .4px solid var(--grays-gray-600, #757172);
    border-radius: 75pt;
    color: var(--brand-dark-blue-dark-blue-1000, #1c2945);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Gotham Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    height: 4pc;
    justify-content: center;
    line-height: 1.16pc;
    padding: 0 24px;
    width: 100%;
    text-decoration: none;
}
@media screen and (max-width:768px) {
  main > .section.talktoadvisory > div{
    padding: 0 16px;
  }
    .talktoadvisory .cards > ul > li{
      flex-direction: column;
      align-items: start;
    }
    .talktoadvisory .cards-wrapper .cards-card-image{
      padding: 24px 1pc;
    }
    .talktoadvisory .cards .cards-card-body{
      padding: 1pc;
      width: 100%;
    }
    .talktoadvisory .cards-card-body ul li:nth-child(1){
      color: #221f20;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 160%;
    padding-bottom: 1pc;
    }
    .talktoadvisory .cards-card-body ul li:nth-child(2){
        font-size: 18px;
        font-weight: 600;
    }
    .talktoadvisory .cards-card-body ul:nth-child(2){
      flex-direction: column;
    }
    .talktoadvisory .cards-card-body ul:nth-child(2) li:nth-child(1) a{
      font-size: .875rem;
        height: 40px;
        line-height: 1pc;
    }
    .talktoadvisory .cards-card-body ul:nth-child(2) li:nth-child(2) a{
        font-size: .875rem;
        height: 40px;
        line-height: 1pc;
    }
}
/* talktoadvisory  */

/* newinsuranceplansection */
main > .section.newinsuranceplansection  > div {
  max-width: 80pc;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.newinsuranceplansection .cards > ul{
  display: initial;
}
.newinsuranceplansection .cards > ul > li{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 135px;
  border: unset;

}
.newinsuranceplansection .cards > ul > li .cards-card-image{
  width: 50%;
}
.newinsuranceplansection .cards > ul > li .cards-card-image img{
  max-width: 535px;
  width: 100%;
  height: 318px;
}
.newinsuranceplansection .cards > ul > li .cards-card-body{
  width: 50%;
}
.newinsuranceplansection .cards .cards-card-body{
  margin: 0;
}
.newinsuranceplansection .default-content-wrapper h1,
.newinsuranceplansection .default-content-wrapper h2,
.newinsuranceplansection .default-content-wrapper h3,
.newinsuranceplansection .default-content-wrapper h4,
.newinsuranceplansection .default-content-wrapper h5,
.newinsuranceplansection .default-content-wrapper h6{
    color: #221f20;
    font-size: 2rem;
    font-weight: 500;
    line-height: 108%;
    padding-bottom: 1pc;
}
.newinsuranceplansection .default-content-wrapper p{
    color: #221f20;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.03px;
    line-height: 160%;
    padding-bottom: 18px;
}
  .newinsuranceplansection .cards-wrapper .cards-card-body li{
    color: #221f20;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.03px;
    line-height: 160%;
    margin-bottom: 24px;
  }
  .newinsuranceplansection .cards-wrapper .cards-card-body li:last-child{
    margin-bottom: 0px;
  }

  @media screen and (max-width:768px) {
      main > .section.newinsuranceplansection > div{
        padding: 0 16px;
      }
      .newinsuranceplansection .default-content-wrapper h1, .newinsuranceplansection .default-content-wrapper h2, .newinsuranceplansection .default-content-wrapper h3, .newinsuranceplansection .default-content-wrapper h4, .newinsuranceplansection .default-content-wrapper h5, .newinsuranceplansection .default-content-wrapper h6{
          font-size: 18px;
      }
      .newinsuranceplansection .default-content-wrapper p{
    font-size: 14px;
}
.newinsuranceplansection .cards > ul > li{
  flex-direction: column;
  gap:2pc;
}
.newinsuranceplansection .cards > ul > li .cards-card-image{
  width: 100%;
}
.newinsuranceplansection .cards > ul > li .cards-card-image img{
  max-width: 327px;
  height: 100%;
}
.newinsuranceplansection .cards > ul > li .cards-card-body{
  width: 100%;
}
.newinsuranceplansection .cards-wrapper .cards-card-body li{
    font-size: 14px;
    letter-spacing: 0;
    line-height: 148%;
}
  }
/* newinsuranceplansection */