.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.aif-cards .default-content-wrapper h3 {
  color: #2E2A94;
}

.aif-cards .cards-wrapper{
  margin-top: 30px;
}

.section.aif-cards .cards-wrapper .cards ul li{
background-color: #EEEE;
}

.section.aif-cards .cards-wrapper .cards ul li div:last-child p .icon{
  width: 80px;
  height: 80px;
}

.section.aif-cards .cards-wrapper .cards ul li div:last-child p:last-child{
color: #2E2A94;
}
