.birla-banner{
    background: #026FC2;
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    height: 300px;
    padding: 35px 72px;
    color: white;
    align-items: center;
}

.birla-banner div:nth-child(1) div p{
    /* font-family: Poppins; */
    font-weight: 300;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: 0;
    text-align: center;

}