*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.favourite-corner{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;

}

.pic.picture{
    max-width: 1500px;
    width: 100%;
}

.pic.img{
    max-width: 1560px;
    width: 100%;
}