.birla-bottom-banner{
    display: flex;
    gap: 64px;
}

.birla-bottom-banner div div:nth-child(1) picture img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.birla-bottom-banner div div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.birla-bottom-banner div div:nth-child(2) p{
    /* font-family: Poppins; */
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #9CA3AF;
}
