.section.fastag-tab-container{
  display: flex;
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section.fastag-tab-container > div:nth-child(1){
  width: 42%;
  border-right: 1px solid #9B1E26;
}
.section.fastag-tab-container > div:nth-child(2){
  width: 58%;
}
.fastag-tab .tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}

@media (width >= 600px) {
  .fastag-tab .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .fastag-tab .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.fastag-tab .tabs-list button {
  /* flex: 0 0 max-content;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 0.5em;
  background-color: beige;
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s; */
    display: block;
    padding: 10px 18px;
    color: #222;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border-radius: 24px;
    background: #E9E9E9;
}

.fastag-tab .tabs-list button p {
  margin: 0;
}


.fastag-tab .tabs-list button[aria-selected='true'] {
  /* border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial; */
  background: #9B1E26;
  color: #fff;
}

.fastag-tab .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  /* border: 1px solid #dadada; */
  overflow: auto;
}

.fastag-tab .tabs-panel[aria-hidden='true'] {
  display: none;
}