h1,
h2,
h3,
h4,
h5,
h6, 
p {
    margin: 0;
    padding: 0;
}

a:any-link{
    color: black;
}

.contact-cards-container{
    height: auto;
}

.contact-cards.block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.contact-card{
    background-color: #e9f3fd;
    border-radius: 16px;
    padding: 16px;
    height: 140px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    border: 1px solid #d1d0d0;
}

.contact-card img{
    width: 54px;
    height: 54px;
}

.contact-card ul{
    padding: 0;
    margin: 0;
}
.contact-card ul li{
    list-style: none;
    text-decoration: none;
}