.idfc-cs-card.block div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.idfc-cs-card.block div div:nth-child(2) h2:nth-child(1){
    margin: 0;
    padding: 0;
    color: #181818;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    line-height: 130%;
    margin-bottom: 30px;
}

.idfc-cs-card.block div div:nth-child(2) h2:nth-child(2){
    font-weight: 700;
    line-height: 90%;
    font-size: 36px;
}