/* Make sure the wrapper can scroll horizontally */
.carousel-2.block {
    display: flex;
    overflow: auto hidden;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem;
    -webkit-overflow-scrolling: touch; /* For iOS smooth scrolling */
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
  }
  
  /* Hide scrollbars (optional) */
  .carousel-2.block::-webkit-scrollbar {
    display: none;
  }
  
  /* The children are treated as individual slides */
  .carousel-2-child {
    flex: 0 0 auto;
    width: calc(100% / 1.2); /* default for mobile */
    scroll-snap-align: start;

  }

  .carousel-2-child div{
    width: 331px;
    height: 387px;
    border-radius: 16.33px;

  }

  .carousel-2-container .carousel-2-wrapper .carousel-2 .carousel-2-child div picture{
    width: 331px;
    height: 387px;
    border-radius: 16.33px;
    display: inline-block;
  }

  .carousel-2-container .carousel-2-wrapper .carousel-2 .carousel-2-child{
    width: 331px;
    height: 387px;
  }

  .carousel-2-container .carousel-2-wrapper{
    margin: 0;
    padding: 0;
  }

  .carousel-2-container .default-content-wrapper p{
    padding: 16px 32px;
  }