.div-index-0 div picture img{
    width: 100px;
    height: 100px;
}

.div-index-3 div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    background-color: #2DABE3;
    width: 151px;
    height: 40px;
}
.div-index-3{
    display: flex;
    gap: 20px;
}
.div-index-3 div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    /* background-color: #2DABE3; */
    width: 151px;
    height: 40px;
}