.experience{
    display: flex;
    gap: 58px;

} 

.experience >div{
    /* width: 25%;   */
    border: 1px solid #5f34aa;
    border-radius: 12px;

    /* max-height: max-content; */
    width: 200px;
    padding: 20px;
}

.experience div div:nth-child(1),.experience div div:nth-child(2){
    border: none;
}

.default-content-wrapper{
    line-height: 14px;
}

.experience>div>div:nth-child(2) h1{
    font-size: 24px;
    margin: 0;
}

.experience>div>div:nth-child(2) p{
width: max-content;
margin: 0;
}