.birla-teaser div div:nth-child(1) picture img{
    width: 400px;
    height: 331px;

}
.birla-teaser div div:nth-child(2) h2{
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;

}
.birla-teaser div div:nth-child(2) p{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #6B7280;
}