.cc-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.banner-image {
    grid-column: 1/5;
    grid-row: 1/2;
}

.banner-heading {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    padding-top: 8rem;
    padding-left: 4rem;
    font-size: 30px;
}

.banner-desc {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    padding-top: 20rem;
    padding-left: 4rem;
    font-size: 12px;
}

.banner-fea {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: 4rem;
}

.banner-fea .feature-items {
    display: flex;
}