/* eslint-disable */
/* .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 10px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  } */