
main .columnflex-container .columnflex-wrapper .columnflex .row-1 .row-1-col-1{
    width: 260.7067565917969px;
    height: 379px;
    overflow: hidden;
}
main .columnflex-container .columnflex-wrapper .columnflex .row-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

main .columnflex-container .columnflex-wrapper .columnflex .row-2 .row-2-col-1 p{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    width: 187.22569274902344px;
    


}
main .columnflex-container .columnflex-wrapper .columnflex .row-2 .row-2-col-2 {
    display: flex;
    flex-direction: row;
}
main .columnflex-container .columnflex-wrapper .columnflex .row-2 .row-2-col-2 p{
    width: 143px;
    height: 49px;

}
main .columnflex-container .columnflex-wrapper .columnfelx .row-3 .row-3-col-1 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#000000;

}
main .columnflex-container .columnflex-wrapper .columnfelx .row-3 {
    width: 446px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-top: 168px;
    padding-right: 40px;
    padding-bottom: 168px;
    padding-left: 64px;

}