/* stylelint-disable-next-line selector-class-pattern */
.main-Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #dadfe4;
    border-radius: 12px;
    max-width: 100%;
    position: relative;
}

.header-wrapper {
    display: none;
}

.calc-left {
    width: 40%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.black-head {
    background-color: #ebf1ff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #2e2a94;
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 15px;
    padding: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.inp-div {
    display: flex;
    justify-content: space-between;
}

.inp-div input {
    border-radius: 4.258px;
    background: #f2f5f9;
    color: #5b6471;
    border: 1px solid transparent;
    width: 105px;
    height: 40px;
    font-size: 14px;
    padding: 0 16px;
    text-align: center;
    outline: none;
}

.slid-div > input[type="range"] {
    appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    border-radius: 4px;
    background: #ccc;
    cursor: pointer;
}

.slid-div > input::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 16px;
    background: linear-gradient(
        to right,
        #006eb9 var(--value),
        #ccc var(--value)
    );
}

.slid-div > input::-webkit-slider-thumb {
    appearance: none;
    height: 26px;
    width: 26px;
    background: #006eb9;
    border-radius: 50%;

    /* If using fake bar for filling then mergin will be removed */
    margin-top: -11px;
}

.inputholder label {
    color: #2e2a94;
}

/* use for inline */
.calc-info-para {
    display: ruby-text;
}

.investbtn-calpage .inputholder-calc .getstartedcta {
    border-radius: 4px;
    background: #2b2e8c;
    box-shadow: 0 16px 40px 0 rgba(112 144 176 / 30%);
    border: none;
    height: auto;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 55px 12px 40px;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.calc-right {
    text-align: center;
    font-size: 18px;
    color: #2e2a94;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#reg-error,
#desireage-error,
#retirement-life-error,
#retirement-amount-error {
    color: red;
    font-size: 13px;
    margin-top: 4px;
}

#right-first-txt-span,
#right-second-txt-span,
#right-third-txt-span {
    font-weight: 600;
}

#reset-calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: #006eb9;
    font-size: 19px;
    font-weight: 500;
    line-height: 14px;
}

@media (width < 1024px) {
    /* stylelint-disable-next-line selector-class-pattern */
    .main-Container {
        flex-direction: column;
    }

    .calc-left {
        flex: 0 0 100%;
        width: 100%;
    }

    .calc-right {
        width: 100%;
        height: 351px;
    }

    .calc-info-para {
        display: block;
    }
}
