.kainsai-accordian{
    display: flex;
    padding: 33px 20px 70px 20px;
    justify-content:space-around;
    color: white;
}

.question-set{
    padding: 0;
    margin: 0;
}

.question-set div > p{
    font-size: 26px;
    padding: 0;
    margin: 0;
}

.question-set div:nth-child(2) ul{
    list-style: none;
}

.question-set div:nth-child(2) p{
    padding: 0;
    font-size: 16px;
    margin: 10px 5px ;
}

.accordion-colours div:nth-child(2){
    display: flex;
    gap:10px
}