.section.idfc-services-container {
    background-color: #f3f3f3;
    padding-block: 3rem;
}

.section.idfc-services-container .default-content-wrapper {
    font-size: 3rem;
    font-weight: lighter;
    color: #54565b;
    text-align: center;
}

.section.idfc-services-container .default-content-wrapper :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding-bottom: 2rem;
}

.idfc-services {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.idfc-services a u {
    color: #54565b;
}

.idfc-services__card {
    height: 450px;
    display: flex;
    flex-direction: row;
    color: #54565b;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}

.idfc-services__card-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 2.5rem;
    font-size: 0.875rem;
}

.idfc-services__card-content .button-container {
    margin-top: auto;
    margin-bottom: 0;
}

.idfc-services__card-content .button-container .button {
    background-color: #9b1e26;
    margin-block: 0;
    padding: 0.5rem 1.5rem;
}

.idfc-services__card-image {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-inline-end: 1px solid #e8e8e8;
}

.idfc-services__card-image img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

/* Apply row-reverse on even cards */
.idfc-services__card:nth-child(even) {
    flex-direction: row-reverse;
}

.idfc-services__card:nth-child(even) .idfc-services__card-image {
    border-inline-end: 0;
    border-inline-start: 1px solid #e8e8e8;
}