.idfc-digital-banking-nav.block{
    display: flex;
    gap: 60px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.idfc-digital-banking-nav.block div{
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    justify-content: center;
}

.idfc-digital-banking-nav.block div div p:nth-child(2){
    color: #3a3a3a;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.idfc-digital-banking-nav.block div div .button-container .button{
    background: none;
    color: #9c1d26;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
}