@import url('./swiper-bundle.min.css');

.grow-section{
    width: 100%;
}

.grow-section .default-content-wrapper h3{
    color: #222;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
}

.slider-container{
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.grow-block-section > div {
    width: calc(100% / 4);
    background: linear-gradient(270deg, #6F171D 0.34%, #240406 139.08%);
    padding: 24px;
    border-radius: 16px;
    color: #fff;
    transition: transform 0.3s ease;
}

.grow-block-section > div > div:nth-child(1) img{
    width: 56px;
    height: 56px;
}

.grow-block-section > div > div:nth-child(2) h5{
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    margin: 16px 0;
}

.grow-block-section > div > div:nth-child(2) p{
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    max-width: 190px;
}

.swiper{
    width: 100%;
}