/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header and nav layout */
header .nav-wrapper {
  max-width: 1500px;
    width: 100%;
    background-color: var(--background-color);
    z-index: 2;
    position: fixed;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

header nav {
    box-sizing: border-box;
    display: grid;
    grid-template:
        "head hamburger brand tools" var(--nav-height)
        "sections sections sections sections" 1fr / auto 1fr auto;
    align-items: center;
    gap: 0 24px;
    margin: auto;
    max-width: 1550px;
    width: 100%;
    height: var(--nav-height);
    padding: 0 24px;
    font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
    grid-template:
        "hamburger brand" var(--nav-height)
        "sections sections" 1fr
        "tools tools" var(--nav-height) / auto 1fr;
    overflow-y: auto;
    min-height: 100dvh;
}

@media (width >= 1200px) {
    header nav {
      max-width: 1464px;
      width: 100%;
        display: flex;
        justify-content: space-between;

        /* flex-wrap: wrap; */
        gap: 0 32px;
        padding: 0 32px;
        margin: 0;
    }

    /* CHANGE: Red underline for main menu items only */

    /* Target only direct links within main menu items */
    header nav .nav-sections .default-content-wrapper > ul > li > a::after,
    header
        nav
        .nav-sections
        .default-content-wrapper
        > ul
        > li
        > p
        > a::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: red;
        transition: width 0.3s;
        position: absolute;
        bottom: -5px;
        left: 0;
    }

    header nav .nav-sections .default-content-wrapper > ul > li > a,
    header nav .nav-sections .default-content-wrapper > ul > li > p > a {
        position: relative;
    }

    header
        nav
        .nav-sections
        .default-content-wrapper
        > ul
        > li:hover
        > a::after,
    header
        nav
        .nav-sections
        .default-content-wrapper
        > ul
        > li
        > a:focus::after,
    header
        nav
        .nav-sections
        .default-content-wrapper
        > ul
        > li:hover
        > p
        > a::after,
    header
        nav
        .nav-sections
        .default-content-wrapper
        > ul
        > li
        > p
        > a:focus::after {
        width: 100%;
        display: none;
    }
}

/* CHANGE: Better submenu hover behavior */
@media (width >= 1200px) {
    /* Fix the submenu to stay visible on hover and when interacting with submenu */
    header nav .nav-sections .default-content-wrapper > ul > li:hover > ul,
    header nav .nav-sections .default-content-wrapper > ul > li > ul:hover {
        display: flex !important; /* Force display regardless of other states */
        flex-flow: row wrap;
        z-index: 100;
        position: absolute;
    }

    /* Ensure we don't lose specific styling from your existing code */
    .default-content-wrapper
        > ul
        > .li-width-1[aria-expanded="true"]
        > :nth-child(2),
    .default-content-wrapper > ul > .li-width-1:hover > :nth-child(2) {
        /* max-width: 1560px; */

        /* width: 100%; */
        background-color: white;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        top: 105px;

        /* left: -220px; */

        /* left: 0px;
        right: 0px; */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 40px 30px 30px 100px;
    }
}

@media (width >= 1200px) {
    header nav[aria-expanded="true"] {
        min-height: 0;
        gap: 330px;
        overflow: visible;
    }
}


header nav .nav-sections .default-content-wrapper > ul > li > a {
    position: relative;
}

header nav .nav-sections .default-content-wrapper > ul > li:hover > a::after,
header nav .nav-sections .default-content-wrapper > ul > li > a:focus::after {
    width: 100%;
}

/* CHANGE: Styling for hamburger logo in mobile view */
@media (width <= 1199px) {
    header nav .nav-hamburger button {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    header nav .nav-hamburger button .hamburger-logo {
        height: 20px;

        /* width: auto; */
        display: block;
    }
}

header nav p {
    margin: 0;
    line-height: 1;
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    height: 22px;
    display: flex;
    align-items: center;
}

header nav .nav-hamburger button {
    height: 22px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--background-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: "";
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

@media (width >= 1200px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

/* brand */
header .nav-brand {
    grid-area: brand;
    flex-basis: 128px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
}

header nav .nav-brand img {
    width: 128px;
    height: auto;
    position: absolute;
    left: 108px;
    top: 65px;
}

/* sections */
header nav .nav-sections {
    grid-area: sections;
    flex: 1 1 auto;
    display: none;
    visibility: hidden;
}

header nav[aria-expanded="true"] .nav-sections {
    display: block;
    visibility: visible;
    align-self: start;
}

header nav .nav-sections ul {
    list-style: none;
    padding-left: 0;
    font-size: var(--body-font-size-s);
}

header nav .nav-sections ul > li {
    font-weight: 500;
    color: #8b7f7f;
}

header nav .nav-sections ul > li > ul {
    margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
    font-weight: 400;
}

@media (width >= 1200px) {
    header nav .nav-sections {
        display: block;
        visibility: visible;
        white-space: nowrap;
    }

    header nav[aria-expanded="true"] .nav-sections {
        align-self: unset;
    }

    header nav .nav-sections .nav-drop {
        position: relative;
        padding-right: 16px;
        cursor: pointer;
    }

    header nav .nav-sections ul {
        display: flex;

        /* flex-wrap: wrap; */
        gap: 15px;
        margin: 0;
    }

    header nav .nav-sections .default-content-wrapper > ul > li {
        flex: 0 1 auto;

        /* position: relative; */
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul {
        display: none;
        position: relative;
    }

    header
        nav
        .nav-sections
        .default-content-wrapper
        > ul
        > li[aria-expanded="true"]
        > ul {
        display: block;
        position: absolute;
        left: -24px;
        width: 200px;
        top: 150%;
        padding: 16px;
        background-color: var(--light-color);
        white-space: initial;
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 16px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--light-color);
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
        padding: 8px 0;
    }
}

/* tools */
header nav .nav-tools {
    grid-area: tools;
}

.nav-block {
    background-color: #6d6c6db2 !important;
}

.nav-head > div {
    max-width: 1462px;
    width: 100%;
    display: flex;
    gap: 430px;
}

.nav-head > div > ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-head > div > ul > li {
    font-size: 15px;
    color: white;
}

.nav-head > div > ul > li > a {
    color: white;
    text-decoration: none;
}

.logo-nav-block {
    background-color: white;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 30%);
    border-radius: 10px;
}

.header-wrapper {
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
}


.default-content-wrapper > .li-width-4[aria-expanded="true"] > :nth-child {
    width: 600px;
}

.default-content-wrapper
    > ul
    > .li-width-1[aria-expanded="true"]
    > :nth-child(2) {
    width: 1460px;

    /* width: 100%; */
    background-color: white;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    top: 35px;
    left: -360px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px 30px 30px 100px;
    box-shadow: 4px 4px 10px rgba(0 0 0 /30%);
}

.nav-drop > ul > li > ul {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flex-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-list > p {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.flex-list > ul > li {
    font-size: 15px;
    font-weight: 400px;
    color: #8b7f7f;
}

header nav .nav-sections ul > li :hover {
    color: black;
    transition: color 0.3s ease;
}

header nav .nav-sections .default-content-wrapper > ul > li:hover > ul,
header nav .nav-sections .default-content-wrapper > ul > li > ul:hover,
header
    nav
    .nav-sections
    .default-content-wrapper
    > ul
    > li[aria-expanded="true"]
    > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
    z-index: -1;
    box-shadow: 4px 4px 10px rgba(0 0 0 /30%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flex-list > a {
    color: black;
}

@media (width <= 1200px) {
  .header .nav-wrapper {
    max-width: 1200px;
    padding: 20px;
    width: 100%;
  }

  .nav-head > div {
    display: none;
  }

  header nav {
    max-width: 1200px;
    width: 100%;
    margin: 20px;
  }

  .default-content-wrapper
      > ul
      > .li-width-1[aria-expanded="true"]
      > :nth-child(2) {
      width: 200px;
      height: 200px;
      left: 0;
      display: none;
  }

  header nav .nav-sections ul{
    display: flex;

    /* display: none; */
    flex-direction: column;
    gap: 20px;
  }

  .liContent{
    padding: 12px 24px;
    border-radius: 7px;
    box-shadow: 4px 4px 10px rgba(0 0 0 / 20%);
  }

  .liContent > p{
    font-size: 12px;
    color: black;
    font-weight: 400;
  }
}