/* header and nav layout */
header .nav-block {
  width: 1560px;
  background-color: #fff;

  .section:nth-child(1){
    border: 1px solid red;
    
    div{
      display:flex ;
    }
  }

  .section:nth-child(2){
    /* border: 1px solid red; */
    display: none;
  }

  .section:nth-child(3){
    /* border: 1px solid red; */
    display: none;

  }
}
