.banner-container {
    height: calc(100vh - 89px);
    padding-top: 89px;
}

main>.banner-container>.banner-wrapper {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.banner-container .banner-section .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner-container .banner-section .swiper-slide .banner-img-wrapper picture,
.banner-container .banner-section .swiper-slide .banner-img-wrapper img {
    display: block;
    width: 100%;
    height: calc(100vh - 89px);
    position: absolute;
    top: 0;
    left: 0;
}

.banner-container .banner-section .swiper-slide .banner-cnt-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1171px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-container .banner-section .swiper-slide .banner-cnt-wrapper .banner-title {
    color: #fafafa;
    font-size: 53px;
    font-weight: 600;
    line-height: 120%;
    max-width: 722px;
    word-break: break-word;
    order: 1;
}

.banner-container .banner-section .swiper-slide .banner-cnt-wrapper .banner-pretitle {
    color: #fff;
    font-size: 18px;
    line-height: 120%;
    max-width: 584px;
    margin: 28px 0 0 0;
    order: 2;
}

.banner-container .banner-section .swiper-slide .banner-cnt-wrapper .banner-cta-wrapper a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    background: #0054a6;
    padding: 10px 20px;
    width: -moz-max-content;
    width: max-content;
    margin-top: 45px;
    cursor: pointer;
    max-width: 100%;
    word-break: break-word;
    text-align: center;
}