.section.banner-container {
    max-width: 100%;
    background-color: #e3f6e9;
    
}

.banner {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 92px;
}
@media (width >= 900px) {
    main > .section > div {
        padding: 0;
    }
}

main > section > div {
    padding: 0;
}

/* .banner-wrapper {
    padding: 0;
} */

/* .banner.block img{
    
} */

.banner-text {
    width: 70%;
}
.banner-text h1 {
    font-size: 40px;
    margin: 0;
}

.banner-text p {
    font-size: 24px;
    margin: 16px 0 0 0;
    /* margin: 5px 0 0 0; */
}

.banner-img {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.banner-img-wrapper img {
    max-width: 124px;
    max-height: 124px;
}

