.cardsp.block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardsp.block > div {
    flex: 0 0 calc(50% - 10px);
    height: 180px;
    border: 1px solid #ccc;
    background-color: #e9f3fd;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
}

.cardsp.block > div > div:first-child {
    margin-right: 20px;
}

.cardsp.block > div p {
    line-height: 15px;
}
.cardsp.block picture > img {
    height: 50px;
    width: 50px;
}
.cardsp.block > div > div:nth-child(3) p {
    position: absolute;
    top: 2%;
    right: 5%;
    color: #f26841;
    font-weight: bold;
    text-decoration: underline dashed #f26841 2px;
    text-underline-offset: 1px;
}
