
.cardsp.block {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

.cardsp.block > div {
    flex: 0 0 calc(50% - 10px); 
    border: 1px solid #E0E0E0; 
    background-color: #e9f3fd;
    border-radius: 25px;
    display: flex;
    align-items: center; 
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 14px;
}
.cardsp-wrapper{
 padding: 50px 32px;   
}
.cardsp.block p{
    margin: 4px 0;
}
.cardsp.block img{
    width: 50px;
}
.cardsp.block > div > div:first-child {
    margin-right: 20px;
}