.oona-block-3-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.oona-block-3-container .default-content-wrapper{
    width: 34%;
    padding: 0;
    margin: 0;
}

.oona-block-3-container .default-content-wrapper #got-a-question{
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    margin-bottom: 16px;
    color: #21153a;
    font-weight: 500;
}

.oona-block-3-container .default-content-wrapper p:first-child{
    margin: 0;
    margin-bottom: 32px;
    font-weight: 500;
    color: #65737e;
}

.oona-block-3-container .default-content-wrapper p:last-child{
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.18px;
    margin: 0;
    color: #482c77;
    cursor: pointer;
}

.oona-block-3-container .oona-block-3-wrapper{
    padding: 0;
    width: 66%;
}

.oona-block-3-wrapper .oona-block-3{
    padding: 0;
} 

.oona-block-3-wrapper .oona-block-3 > div{
    border: 1px solid #c8cdd1;
    border-radius: 12px;
    padding: 24px 32px;
    margin-bottom: 27px;
}

.oona-block-3-wrapper .oona-block-3 > div div:first-child{
    font-size: 20px;
    line-break: 24px;
    color: #5f34aa;
    font-weight: 600;
    cursor: pointer;
}

.oona-block-3-wrapper .oona-block-3 > div div:last-child{
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    color: #65737e;
    font-weight: 500;
}

.oona-block-3 .block > div .answer{
    display: none;
}

.oona-block-3 .block > div .toggle{
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}