.tag {
    display: inline-block;
    background: #26282b;
    padding: 8px 12px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .01em;
    margin: 0 8px 12px 0;
}