main > .section > div {
    max-width: 100%;
    margin: auto;
    padding: 0;
}
.teaser.block {
    background-color: #e1f5e7;
    padding: 44px 150px 92px 150px;
}

.teaser.block > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teaser.block picture > img {
    height: 124px;
    width: 124px;
}
