.moti-tab .tabs-list {
    display: flex;
    gap: 0.5ch;
    max-width: 100%;
    font-size: var(--body-font-size-xs);
    overflow-x: auto;
}

@media (width >= 600px) {
    .moti-tab .tabs-list {
        font-size: var(--body-font-size-s);
    }
}

@media (width >= 900px) {
    .moti-tab .tabs-list {
        font-size: var(--body-font-size-m);
    }
}

.moti-tab .tabs-list button {
    flex: 0 0 max-content;
    margin: 0;
    border: 1px solid #dadada;
    border-radius: 0;
    padding: 12px 100px;
    background-color: white;
    font-weight: bold;
    line-height: unset;
    text-align: initial;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    color:black;
    transition: background-color 0.2s;
}

.moti-tab .tabs-list button p {
    margin: 0;
}

.moti-tab .tabs-list button[aria-selected="true"] {
    border-bottom: 1px solid var(--background-color);
    background-color: rgb(0 140 255);
    cursor: initial;
}

.moti-tab .tabs-panel {
    margin-top: -1px;
    padding: 24px;
    border: 1px solid #dadada;
    overflow: auto;
}

.moti-tab .tabs-panel[aria-hidden="true"] {
    display: none;
}
