.oona-block-2-container{
    width: 100%;
}

.oona-block-2-container .default-content-wrapper{
    padding: 0;
    margin: 0;
}

.oona-block-2-container .default-content-wrapper #additional-services{
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #21153a;
    margin: 0;
    margin-bottom: 40px;
}

.oona-block-2-container .oona-block-2-wrapper{
    padding: 0;
    margin: 0;
}

/* .oona-block-2-wrapper .oona-block-2{

} */