.oona-block-2-container {
    background-color: #f8f8f8;
}

.oona-block-2-container .default-content-wrapper {
    padding: 0;
    margin: 0;
}

.oona-block-2-container .default-content-wrapper #additional-services {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #21153a;
    margin: 0;
    margin-bottom: 40px;
}

.oona-block-2-container .oona-block-2-wrapper {
    padding: 0;
    margin: 0;
}

.oona-block-2-wrapper .oona-block-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.oona-block-2-wrapper .oona-block-2 > div {
    width: 33.33%;
    max-width: 418px;
    min-height: 120px;
    border-radius: 12px;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 15px 32px 0 rgba(72, 44, 119, 0.10);
    display: flex;
    gap: 10px;
}

.block-2-row-1-col-1 #roadside-assistance,
.block-2-row-2-col-1 #authorized-workshop-finder,
.block-2-row-3-col-1 #online-claim-submission {
    font-size: 18px;
    line-height: 24px;
    color: #21153a;
    margin-bottom: 8px;
}

.block-2-row-1-col-1 p,
.block-2-row-2-col-1 p,
.block-2-row-3-col-1 p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #65737e;
}

.block-2-row-1-col-2 img,
.block-2-row-2-col-2 img,
.block-2-row-3-col-2 img{
    width: 100px;
    height: 100px;
}