.common-teaser.zero-teaser.block{
    box-shadow: 4px 0px 2px 0px rgba(0, 0, 0, .25);
    position: absolute;
    z-index: 1;
    top: 157px;
    padding: 5px 37px;
    background: white;
    >div div p{
        text-align: center;
        margin: 0;
    }
}