/* Spacing between cards */
.address-card-wrapper {
    margin-top: 32px;
}

.address-card-wrapper:first-child {
    margin-top: 0;
    line-height: 20px;
}

/* Card styling */
.address-card.block {
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    padding: 10px;
    box-sizing: border-box;
}

/* Second card font size */
.address-card-wrapper:nth-child(2) .address-card.block h2 {
    font-size: 20px;
}
.address-card-wrapper:nth-child(2) .address-card.block {
    margin-top: 32px;
}

/* Third card font size */
.address-card-wrapper:nth-child(3) .address-card.block {
    font-size: 13px;
    margin-top: 32px;
}
