.fastag-app-wrapper .fastag-app.block{
display: flex;
align-items: center;
border: 1px solid red;
padding: 0 8em;
}

.fastag-app-wrapper .fastag-app.block img{
max-height: 157px;
}

.fastag-app-wrapper .fastag-app.block > div:nth-of-type(2){
    width: 50%;
}

.fastag-app-wrapper .fastag-app.block > div:nth-of-type(3){
    width: 20%;
}
