.first-component{
    background-color: #000000;
    color: white;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    padding: 30px 0px 60px 30px;

}
.child-3{
    max-width: 538px;
    width: 100%

}
.child-4{
    max-width: 677px;
    width: 100%

}