
 .whychoosetitlecontent .default-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
  .whychoosetitlecontent .default-content-wrapper p:first-child{
    color: #221f20;
    font-family: Gotham Pro, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.16pc;
    margin: 0;
 }
   .whychoosetitlecontent .default-content-wrapper p:nth-child(2) a{
      -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #221f20;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Gotham Pro, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    gap: 10px;
    line-height: 1.16pc;
    background-color: transparent;
    margin: 0;
    border: none;
 }
 .whychoosetitlecontent .default-content-wrapper .button-container{
    margin: 0;
 }
 .why-choose-container{
    max-width: 80pc;
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap: 24px;
 }
 .why-choose-container .why-choose-wrapper{
    background: #f1f3fc;
    border-radius: 24px;
    padding: 40px 1pc;
    width: 23.5%;
    display: flex;
    align-items: center;
    margin: 0;
 }
 /* card layout */
.why-choose{
  display: flex;
  align-items: center;
  gap: 16px;
}

/* icon */
.why-choose > div:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-choose > div:first-child img{
  width: 3pc;
  height: 3pc;
}
.why-choose > div:nth-child(2) div ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.why-choose > div:nth-child(2) div ul li{
    list-style: none;
      color: #221f20;
    font-family: Gotham Pro, sans-serif;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.2px;
    line-height: 19.6px;
}
.why-choose > div:nth-child(2) div ul li:first-child{
    color: #221f20;
    font-family: Gotham Pro, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.16pc;
}
.whychoosetitlecontent:first-child .default-content-wrapper .button-container{
    display: block;
}
/* .whychoosetitlecontent:last-child .default-content-wrapper .button-container{
    display: none;
} */
 @media screen and (max-width:768px) {
      .whychoosetitlecontent .default-content-wrapper p:first-child{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: .27in;
 }   
   .why-choose-container{
        flex-wrap: wrap;
        gap: 8px;
   }
   .why-choose{
    flex-direction: column;
    align-items: start;
    height: 100%;
   }
  .why-choose-container .why-choose-wrapper{
    background: #f1f3fc;
    border-radius: 24px;
    padding:1pc;
    width: 48%;
    display: flex;
    align-items: center;
 }
 .why-choose > div:first-child img{
    width: 2pc;
    height: 2pc;
 }
 .why-choose > div:nth-child(2) div ul li:first-child{
   font-size: 1.25rem;
        font-weight: 700;
        line-height: .27in;
}
.why-choose > div:nth-child(2) div ul li{
    font-size: .75rem;
    line-height: 1pc;
}
.whychoosetitlecontent:first-child .default-content-wrapper .button-container{
    display: none;
}

 }