/* .why-choose{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.why-choose [data-aue-prop="know_more_btn"] {
  margin-top: 20px;
}

.why-choose [data-aue-prop="know_more_btn"] p {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  color: #221f20;
  font-weight: 600;
}
.why-choose div:nth-child(2) a{
    
} */
 .whychoosetitlecontent .default-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
  .whychoosetitlecontent .default-content-wrapper p{
    color: #221f20;
    font-family: Gotham Pro, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.16pc;
 }
 @media screen and (max-width:768px) {
      .whychoosetitlecontent .default-content-wrapper p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: .27in;
 }   
 }