*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-swiper-second{
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.custom-slider-nav{
    position:absolute;
    top: 58%;
    right: 8%;
}

/* .custom-swiper-slide {
    max-width: 400px;
    width: 100%;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
} */