@import url("../accordion/accordion.css");

.faq-container .faq-wrapper .faq ul{
    display: none;
}

.faq-container .faq-wrapper .faq .accordian{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq-container .faq-wrapper .faq .accordian .accordion-item {
    gap: 7px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DEE0E5;
}

.faq-container .faq-wrapper .faq .accordian .accordion-item .accordion-item-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: bottom;
    background: #2E3E5C;
}

.faq-container .faq-wrapper .faq .accordian .accordion-item .accordion-item-body {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: bottom;
    background: #2E3E5C;
}