.contact-hero{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 96px;
}

.contact-hero-imagewrapper{
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.contact-hero-imagewrapper img{
    height: 124px;
    width: 124px;
}

.contact-hero-textwrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-hero-title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.contact-hero-description{
    margin: 0;
}

.contact-hero-container{
     background-color:#e1ffeb;
}

@media (width >= 900px) {
    main > .section > div {
        padding: 0;
    }
}

main > section > div{
    padding: 0;
}