@import url('../embed/embed.css');

.idfc-banner {
    overflow: hidden;
    position: relative;
    width: 1200px; 
    height: 500px; 

    .swiper-wrapper {
        transition: transform 0.5s ease-in-out;
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        opacity: 0;
        visibility: hidden;
        position: absolute; 
        top: 0;
        left: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        width: 1200px;
        height: 500px;
        display: flex;
    }

    .swiper-slide-active {
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    .banner-1 {
        display: flex;
        width: 1200px;
        height: 500px;

        div:nth-child(2) {
            h1 {
                font-size: 36px;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.36px;
                background: linear-gradient(98deg, rgba(244, 132, 132, 0.72) 43.72%, rgba(107, 14, 21, 0.72) 149.41%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
                margin-bottom: 16px;
            }

            // p {
                
            // }

            // .button-container {
               
            // }
        }
    }

    .slider-nav {
        position: absolute;
        bottom: 80px;
        right: 6%;
        display: flex;
        gap: 5px;

        button {
            margin: 0;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: #fff;
            color: #902a2c;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}