/* .idfc-banner.block {
  border: 1px solid red;

  .swiper-wrapper {
    width: 1550px;
    display: flex;

    .swiper-slide {
      min-width: 1550px!important;
      flex-shrink: 0;
    }
  }
} */
 .idfc-banner.block {
  max-width: 1460px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .swiper-wrapper {
    display: flex;

    .swiper-slide {
      width: 100%; // Ensures all slides take full width of the parent
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      picture img,
      video {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }

    .banner-1,
    .banner-2,
    .banner-3,
    .banner-4,
    .banner-5 {
      max-width: 1460px;
      width: 100%;
      display: flex;
      gap: 40px;
      height: 400px;
      cursor: grab;
    }
  }

  .slider-nav {
    position: absolute;
    bottom: 150px;
    right: 6%;
    display: flex;
    gap: 5px;

    button {
      margin: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #fff;
      color: #902A2C;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }
  }

  .child-0 {
    position: relative;
  }

  .child-1 {
    position: absolute;
    top: 74px;
    left: 108px;

    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.36px;
      background: linear-gradient(98deg, #f48484b8 43.72%, #6b0e15b8 149.41%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 16px;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      color: white;
    }

    > .button-container > a {
      color: #902A2C;
      background-color: white;
    }
  }
}

.section {
  .hero-banner-slider-container {
    max-width: 1560px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid red;
  }
}
