@import url('../embed/embed.css');
.idfc-banner {
    overflow: hidden;
    position: relative;

    .banner-1 {
        display: flex;
        width: 1200px;
        height: 400px;

        // overflow: hidden;
        // div:nth-child(1){
        //     position: relative;
        // }
        
        div:nth-child(2) {
            // position: absolute;
            h1 {
                // margin-top: -70px;
                font-size: 36px;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.36px;
                background: linear-gradient(98deg, rgba(244, 132, 132, 0.72) 43.72%, rgba(107, 14, 21, 0.72) 149.41%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
                margin-bottom: 16px;
            }

            p{

            }

            .button-container{

            }
        }
    }


    .slider-nav {
        position: absolute;
        /* top: 100px; */
        bottom: 80px;
        right: 6%;
        display: flex;
        gap: 5px;

        button {
            margin: 0;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: #fff;
            color: #902a2c;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}