.banner-with-icons.block {
    position: relative;
}

.banner-with-icons .content_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner-with-icons .content_wrapper .right_image {
    width: 500px;
    align-self: last baseline;
    padding-right: 80px;
}

.banner-with-icons .content_wrapper .right_image img {
    width: 100%;
}

.banner-with-icons .content_wrapper .left_content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0;
    height: min-content;
    padding-top: 50px;
    padding-left: 80px;
}

.banner-with-icons .content_wrapper .left_content .heading {
    grid-column: span 3;
}

.banner-with-icons .content_wrapper .left_content .heading strong {
    color: green;
}

.banner-with-icons .content_wrapper .left_content .point_container {
    margin: 0;
    display: flex;
    gap: 20px;
    font-size: 1.125rem;
    line-height: 26px;
    padding-top: 8px;
    grid-column: span 3;
}

.banner-with-icons
    .content_wrapper
    .left_content
    .point_container
    .point_content {
    margin: 0;
}

.banner-with-icons .content_wrapper .left_content .point_content picture img {
    width: 72px;
}

.banner-with-icons .content_wrapper .left_content .button-container a {
    border-radius: 5px;
    background-color: orange;
}
