.section.card-varient-01-container{
    background-color: #f3f3f3;
    padding-top: 3em;
}

#services{
    text-align: center;
    font-size: 48px;
    color: #54565B;
    line-height: 1;
    letter-spacing: -1.6;
    font-weight: 400;
}

.card-varient-01.block{
    max-width: 80%;
    margin: 0 auto;
}

.card-varient-01.block .card{
    background-color: #fff;
}

.card{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

div.card-varient-01-wrapper:nth-of-type(2n) div div> div:nth-of-type(2n){
    flex-direction: row-reverse;
}

.card-image{
    min-width: 30%;
    align-self: center;
}