*{
    padding: 0;
    margin: 0;
}

 .kainsai-address  {
    background: inherit;
    color: white;
}

 .kainsai-address  p{
    padding: 0;
    margin: 0;
}

.mobile-Image {
    display: none;
}

.desktop-Image img{
    width: 300px;
} 

 .kainsai-address  .teaser-content{
    width: 100%;
}

 .kainsai-address  .teaser-content >div {
    font-size: 14px;
}

 .kainsai-address  .teaser-content >div h3 strong{
    font-size: 28px;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

 .kainsai-address  .teaser-content >div ul{
    display: flex;
    list-style:none ;
    gap: 10px;
}

 .kainsai-address  .teaser-content >div ul li .icon{
    width: 40px;
    height: 40px;
}

 .kainsai-address  .teaser-content >div ul li:nth-child(1){
    display: none;
}

 .kainsai-address  .teaser-content p{
    font-weight: 100;
}

 .kainsai-address  .teaser-content p a{
    color: white;
}