/* stylelint-disable */
/* .overview-rte{
    padding: 42px 0 23px 0;
    background-color:#F5F5F5;
} */
.overview-rte .overview-rte-title {
    color: #25243B;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 12px;
}

.overview-rte .overview-rte-para,.overview-rte .overview-rte-hiddenPara  {
    color: #25243B;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.overview-rte .overview-rte-hiddenPara {
  margin-top: 1rem;
}

.overview-rte .overview-rte-readMore {
  margin-top: 1rem;
  font-weight: 600;
  color: #54565B;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent!important;
  padding: 0px;
  width: max-content;
}
