@import url("../carousel/swiper.min.css");

.hero-1-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

main > .section > div {
    max-width: 100%;
    margin: auto;
    padding: 0;
}
.hero-carousel-image {
    width: 100%;
}
