@import "./swiper-bundle.min.css";

.swiper {
  position: relative; 
  width: 100%;
  height: 100%;
}
.hero-1 {
  height: 100%;
}
.hero-1-wrapper {
  height: 500px;
  min-height: 500px; 
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.hero-1-container{
  height: 100%;
}
.swiper-slide{
    position: relative;
  overflow: hidden;
  background-size: cover;   
  background-position: center;
  background-repeat: no-repeat;
}
.thumbs {
  position: absolute;
  bottom: 60px;
  right: 60px;
}
.swiper-slide video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  width: 250px;
  text-align: center;
  text-decoration: none;
}

.thumbs {
  position: absolute;
  bottom: 90px;
  right: 60px;
  display: flex;
  z-index: 2;
  gap: 5px;
}

img.thumb {
  width: 150px;
  object-fit: cover;
}

.counter {
  font-family: var(--transducer-font-family);
  position: absolute;
  z-index: 5;
  color: white;
  bottom: 25px;
  right: 47%;
  font-size: 30px;
}