@import url('../birla-slider/swiper-bundle.min.css');

.idfc-slider.block {
    // height: 300px;
    width: 100%;
    // background-color: red;
    // &-black{
    //     color: black;
    // }
    box-sizing: border-box;
}
.idfc-slider.slider-one.block {
    // overflow: hidden;
    padding: 80px 0px 0px 0px;
    margin-top: -75px;

    // overflow-y: visible;
    >div:nth-child(1){
      display: flex;
    }
  
    .swiper-slide {
      flex-shrink: 0;
      width: auto;
      max-width: 260px;
      margin-right: 100px;
      border-radius: 16px;
      padding: 18px 15px;
      padding-bottom: 28px;
      height: 100%;
      background: linear-gradient(250deg, #DE734D 2.05%, #A33B2B 103.74%);
      
      &:nth-child(5n + 1) {
        background: linear-gradient(147deg, #75161B 8.51%, #A02931 94.76%);
      }
      &:nth-child(5n + 2) {
        background:  linear-gradient(88deg, #0D6B9A 19.26%, #5FA0D7 106.62%);
      }
      &:nth-child(5n + 3) {
        background: linear-gradient(250deg, #DE734D 2.05%, #A33B2B 103.74%);
      }
      &:nth-child(5n + 4) {
        background: linear-gradient(35deg, #030303 13.34%, #484848 93.35%);
      }
      &:nth-child(5n + 5) {
        background: linear-gradient(250deg, #DE734D 2.05%, #A33B2B 103.74%);
      }
  
      &::after {
        content: '';
        position: absolute;
        border: 3px solid gray;
        border-radius: 50%;
        top: 45%;
        right: -70px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-image: url('../../icons/add-icn.svg'); 
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
        animation: growShrink 2s infinite ease-in-out;
      }

      &:last-child::after {
        display: none;
      }
      .card-img {
        width: 78px;
        height: 78px;
        border-radius: 39px;
        margin-bottom: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.24);
  
        &__img {
          width: 50px;
        }
      }
      
      .card-title {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 18px;
      }
  
      .card-link {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }
    
    }
    .swiper-button-prev,.swiper-button-next{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #efeded;
        box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    }
    .swiper-button-next{
        top: 32px!important;
        right: 3px!important;
        &::after{
            color: #9b1e26;
            font-weight: 700;
            font-size: 18px;
        }

    }
    .swiper-button-prev{
        top: 32px!important;
        right: 70px!important;
        left: auto;
        &::after{
            color: #9b1e26;
            font-weight: 700;
            font-size: 18px;
        }
    }


    @keyframes growShrink {
        0%, 100% {
          transform: scale(0.8);
        }
        50% {
          transform: scale(1.5); 
        }
    }
    .card-details{
      margin-top: 35px;
      background-color: #d7d7d7d7;
      border-radius: 20px;
        &__info{
          display: none;
          flex-direction: column;
          padding: 25px 45px;
          list-style: none;
          
          li:nth-child(1){
            color: #000;
          font-feature-settings: "clig" off, "liga" off;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          }
          
          li:nth-child(1){
            color: #000;
            font-feature-settings: "clig" off, "liga" off;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
          li:nth-child(2) {
            margin-top: 30px;
            a{
              padding: 12px 24px;
              color: #fff;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 130%;
              border-radius: 191px;
              background: #9c1d26;
              margin-right: 20px;
              width: max-content;
  
            }
          }
        
        }
        &__info.active{
          display: flex;
        }


    }
}

.idfc-slider.slider-two.block{
  height: 300px;
  margin-top: -75px;
  >div:nth-child(1){
    display: flex;
    align-items: flex-end;
  }

  .swiper-slide {
    width: 165px !important;
    margin-right: 25px;
    border: 1px solid;
    height: 100%;
    padding: 25px 25px;
    border-radius: 12px;
    background: linear-gradient(180deg, #923233 0%, #721F2D 100%);
    text-align: center;
    min-height: 150px;
    max-height: max-content;
    .icon{
      width: 80px;
      height: auto;
    }
     
      strong{
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: -ms-flexbox;
     
      }
   
  }
  .swiper-button-prev,.swiper-button-next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #efeded;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
.swiper-button-next{
    top: 32px!important;
    right: 3px!important;
    &::after{
        color: #9b1e26;
        font-weight: 700;
        font-size: 18px;
    }

}
.swiper-button-prev{
    top: 32px!important;
    right: 70px!important;
    left: auto;
    &::after{
        color: #9b1e26;
        font-weight: 700;
        font-size: 18px;
    }
}
}