@import url('./swiper.min.css');
@media (width >= 900px) {
    main > .section > .hero-carousel-wrapper {
        padding: 0; /* Removes the 32px padding just for this block */
    }
}

/* You might also want to remove the base 24px padding for mobile */
main > .section > .hero-carousel-wrapper {
    padding: 0; 
    margin: 0;
}
.hero-carousel-wrapper{
    width: 100%;
    
}
.hero-carousel{
    width: 100%;
}
.hero-carousel-slide{
    width: 100%;
    min-height: 600px;
}
.swiper-slide img{
    width: 100%;
    min-height: 600px;
    display: block;
}
.swiper-slide video{
    width: 100%;
   min-height: 550px;
    display: block;
}
main > .section > div {
   width: 100%;
   max-width: max-content;
}