@import url('./swiper.min.css');
@media (width >= 900px) {
    main > .section > .hero-carousel-wrapper {
        padding: 0; /* Removes the 32px padding just for this block */
    }
}


.hero-carousel-wrapper{
    position: relative;
    width: 100%;
    
}
.hero-carousel{
    width: 100%;
}
.hero-carousel-slide{
    width: 100%;
}
.slide-image-wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero-carousel-image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.hero-carousel-video{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
main > .section > div {
   width: 100%;
   max-width: max-content;
}
.hero-thumbs-swiper{
    position: absolute;
    width: 50%;
    bottom: 200px;
    right: 10px;
    z-index: 3;
}
.thumbs-swiper-wrapper{
    display: flex;
    align-items: flex-end;
    /* width: 50%; */
    gap: 20px;
    
}
.hero-thumb-swiper-slide{
  width: 160px;      /* MUST be defined */
  flex-shrink: 0;
   cursor: pointer;
}
.hero-thumb-image{
    object-fit: cover;
}
