.pranav-cc-services-container {
    background: #f3f3f3;
    padding: 50px 0 4px;
}

.pranav-cc-services-header {
    text-align: center;
}

.pranav-cc-services .cc-services-card {
    display: flex;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
    margin-top: 30px;
}
.pranav-cc-services .cc-services-card.cc-services-reverse {
    flex-direction: row-reverse;
}

.pranav-cc-services .cc-services-card-toggle {
    display: none;
}

.pranav-cc-services .cc-services-card-image {
    padding: 25px;
    text-align: center;
    width: 35%;
}

.pranav-cc-services .cc-services-card-image img {
    width: 100%;
    height: auto;
}

.pranav-cc-services .cc-services-card-content {
    padding: 40px 20px 40px 40px;
    width: 64%;
    border-left: 1px solid #e8e8e8;
    min-height: 450px;
}

.pranav-cc-services .cc-services-card-content {
    color: #54565b;
    font-size: 14px;
}
.pranav-cc-services .cc-services-card-content h1,
.pranav-cc-services .cc-services-card-content h2,
.pranav-cc-services .cc-services-card-content h3,
.pranav-cc-services .cc-services-card-content h4,
.pranav-cc-services .cc-services-card-content h5,
.pranav-cc-services .cc-services-card-content h6 {
    font-size: 14px;
    font-weight: 700;
}

.pranav-cc-services .button-container a {
    min-width: unset;
    height: unset;
    width: unset;
    display: inline-block;
    padding: 8px 24px;
    border-radius: 25px;
    background: #9b1e26;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border: 0;
}
