/* stylelint-disable */

footer {
  width: 100%;
  background-color: #00205C;
  font-size: var(--body-font-size-xs);
  color: #fff;
}

.subscribe-footer{
  padding-bottom: 30px;
}

.subscribe-footer .default-content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-footer h4{
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  border-left: 2px solid red;
  padding-left: 20px;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-footer .default-content-wrapper p a{
  min-width: 200px;
  padding: 8px 0;
  margin: 0;
  background-color: red;
  border: none;
  border-radius: 6px;
  letter-spacing: .5px;
}

.main-footer{
  padding-top: 40px;
  border-top: 1px solid rgba(248, 243, 243, 0.29);
}

/* .main-footer img{
  filter: brightness(0) invert(1);
} */
 
/* .main-footer .footer-address-wrapper .footer-address div > div:first-child{
  display: none;
} */

/* footer .footer > div {
  margin: auto; 
  max-width: 1200px;
  padding: 40px 24px 24px;
} */

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
