footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

.footer-wrapper{
  position: relative;
  background-image: url("../../icons/footer.jpg");
  padding: 70px 0 30px;
  background-size: 125% 100%;
  animation: gradient 30s ease infinite;
}

@keyframes graydient {
  0% {
    background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}

.footer1 .default-content-wrapper p:nth-child(1){
  display: flex;
  justify-content: center; 
}

.footer1 .default-content-wrapper p:nth-child(3) picture img{
  position: absolute;
  content: "";
  top: 116px;
  right: 170px;
  width: 167px;
  height: 116px;
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.footer1 .default-content-wrapper p:nth-child(4) picture img{
  position: absolute;
  content: "";
  top: -227px;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.footer1 .default-content-wrapper ul{
    display: flex;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #ffffff45;
    flex-direction: row;
    list-style: none;
    width: 100%;
    float: right;
    justify-content: center;
    gap: 25px;
    margin: 0;

    li a{
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
    }
}

.footer2 .default-content-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.footer2 .default-content-wrapper ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 50%;
    padding: 30px 0 0;

    li{
        color: #fff;
        font-size: 16px;
    }
}

.footer2 .default-content-wrapper ul:nth-child(2){
  flex-direction: row;
  justify-content: flex-end;

  li{
    margin-left: 12px;
  }
}