/* .footer-wrapper .footer{

}

.footer-wrapper .footer .div{

}

.footer-wrapper .footer .div .fot-one-container{
    background: #9d1d27;
    color: #fff;
}

.footer-wrapper .footer .div .fot-one-container .fot-one-wrapper{
    padding: 50px 0;
    position: relative;
}


.footer-wrapper .footer .div .fot-one-container .fot-one-wrapper .fot-one .one{
    position: absolute;
    top: -82px;
    right: 0px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #ffcb05;
    font-size: 12px;
    font-weight: 700;
    color: #525252;
}

.footer-wrapper .footer .div .fot-one-container .fot-one-wrapper .fot-one .two div{
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-wrapper .footer .div .fot-two-container{
    
}

.footer-wrapper .footer .div .fot-two-container .fot-two-wrapper{

}

.footer-wrapper .footer .div .fot-two-container .fot-two-wrapper .fot-two{
    display: flex;
    flex-direction: row;
}

.footer-wrapper .footer .div .fot-three-container{

}

.footer-wrapper .footer .div .fot-three-container .fot-three-wrapper{
    
}

.footer-wrapper .footer .div .fot-three-container .fot-three-wrapper .fot-three{

} */