.nerolac-accordion-left{
    background: #FDE8ED;
}

/* .nerolac-accordion-left div div{

} */

.nerolac-accordion-left div div p{
    /* font-family: Typeface/Family/Heading; */
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0%;

}

.nerolac-accordion-left div div ul{
    list-style: none;
}