/* .looking {
    display: flex;
    gap: 38px;
}

.looking div {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.button-container{
    position: absolute;
    top: 164px;
    left: 13px;
} */

.looking{
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.looking >div{
    width: 250px;
    background: white ;
    padding: 10px;
    border-radius: 10px;
}

.looking >div >div:nth-child(1){
    display: flex;
    justify-content: center;
}

.looking >div >div:nth-child(2) h2{
    font-size: 24px;
}

.looking >div >div:nth-child(2) p{
    font-size: 18px;
}