/* stylelint-disable selector-class-pattern */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;

    /* display: none; */
}

.border > div > p {
    width: 350px;
}

.custom-swiper-wrapper-item {
    max-width: 1330px;
    display: flex;
    gap: 30px;
    width: 100%;
    overflow: hidden;
    /* stylelint-disable-next-line shorthand-property-no-redundant-values */
    margin: 30px 1px 30px 1px;
}

.moti-swiper {
    position: relative;

    /* display: none; */
}

.moti-swiper.prev-btn1 {
    position: absolute;
    top: 50%;
    right: 20px;
}

.moti-swiper > .custom-swiper-wrapper-item > .custom-slider-nav {
    width: 1290px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 2;
}

.custom-slider-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgb(112 112 112) ;
    text-overflow: clip;
}

