/* stylelint-disable selector-class-pattern */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;

    /* display: none; */
}

.border > div > p {
    width: 350px;
}

.custom-swiper-wrapper-item {
    max-width: 1330px;
    width: 100%;
    overflow: hidden;
    /* stylelint-disable-next-line shorthand-property-no-redundant-values */
    margin: 30px 1px 30px 1px;
}

.our-funds {
    position: relative;

    /* display: none; */
}

.our-funds.prev-btn1 {
    position: absolute;
    top: 50%;
    right: 20px;
}

.our-funds > .custom-swiper-wrapper-item > .custom-slider-nav {
    width: 1360px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 20px;
}

