@import url('../../styles/swiper-bundle.min.css');

.custom-swiper .swiper {
    overflow: hidden;
}

.custom-swiper .swiper-slide {
    position: relative;
    height: 500px;
}

.custom-swiper .swiper-slide img {
    position: absolute;
    inset: 0;
}

.custom-swiper .swiper-slide h1 {
    position: absolute;
    inset: 0;
    margin-block: 0;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}