/* stylelint-disable */
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}
*{
  padding: 0;
  margin: 0;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  /* max-width: 100%; */
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}


main.section{
  display: flex;
}

main .birla-banner-container{
  position: relative;
}

main .birla-category-container{
  position: absolute;

  /* top: 100px; */
}

main .birla-teaser-container{
  display: flex;
  flex-direction: column;
}

main .birla-top-banner-container{
  display: flex;
  flex-direction: column;
  position: relative;
}

.birla-bottom-banner-wrapper{
  position: absolute;
  top: 270px;
  left: 20%;
  margin-bottom: 100px;
}

/* Nerolac */
.navbar .default-content-wrapper{
  display: flex;
}

.navbar .default-content-wrapper ul{
  display: flex;
  gap: 8px;
  text-decoration: none;
  list-style: none;
}

.navbar .default-content-wrapper ul li{
  font-size: 16px;
  color: grey;
}

.navbar .default-content-wrapper p picture img{
    width: 230px;
    height: 35px;
}

.findus-section .default-content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.findus-section .default-content-wrapper h2{
  display: flex;
  justify-content: center;
  align-items: center;
    /* font-family: Typeface/Family/Heading; */
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #0D2042;

}

.findus-section .default-content-wrapper ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 16px;
}

.findus-section .default-content-wrapper ul li{
  /* font-family: Typeface/Family/Body; */
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0%;
  border: 0.5px solid #BFC4CD;
  border-radius: 100px;
  padding: 8px 16px;
  color: #0D2042;

}
/* .bottom-banner .default-content-wrapper p{
  position: relative;
} */
.bottom-banner{
  position: relative;
}

.bottom-banner .default-content-wrapper .banner-bottom-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: transparent;
  position: absolute;
  top: 10%;
  left: 40%;
}

.banner-bottom-text h1,.banner-bottom-text p{
  padding: 0;
  margin: 0;
}

.banner-bottom-text h1{
  /* font-family: Typeface/Family/Heading; */
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #0D2042;

}

.banner-bottom-text p{
  /* font-family: Typeface/Family/Body; */
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: #0D2042;
  
}

.banner-bottom-text .button-container .button{
  background-color: #001438;
  padding: 16px 32px;
  border-radius: 16px;
    /* font-family: Typeface/Family/Heading; */
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
}

.nerolac-testimonial-container{
  display: flex;
  flex-direction: column;
}

.nerolac-testimonial-container{
  display: flex;
  flex-direction: column;
}
.nerolac-testimonial-container .default-content-wrapper{
  /* margin: 0;
  padding: 0; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.nerolac-testimonial-container .default-content-wrapper p:nth-child(1){
  /* font-family: Typeface/Family/Heading; */
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #0D2042;

}
.nerolac-testimonial-container .default-content-wrapper p:nth-child(2){
  /* font-family: Typeface/Family/Heading; */
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: #0D2042;

}

.nerolac-choose-container{
  display: flex;
  flex-direction: column;
  color: #0D2042;
}

.nerolac-choose-container .default-content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.nerolac-choose-container .default-content-wrapper h1{
  margin: 0;
  padding: 0;
  /* font-family: Typeface/Family/Heading; */
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0%;

}

.nerolac-choose-container .default-content-wrapper p:nth-child(1){
  margin: 0;
  padding: 0;
  /* font-family: Typeface/Family/Body; */
  font-weight: 700;
  font-size: Typeface/Size/Body 2;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;

}
.nerolac-choose-container .default-content-wrapper p:nth-child(2){
  margin: 0;
  padding: 0;
}

.nerolac-choose-container .default-content-wrapper .button-container .button{
  border-radius: 16px;
  border: 1px solid #001438;
  padding: 16px 32px;
  background-color: white;
  /* font-family: Typeface/Family/Heading; */
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #001438;

}