.section.idfc-contact-us-container {
    background-color: #f3f3f3;
    color: #25243B;
    padding-block: 3rem;
}

.section.idfc-contact-us-container .default-content-wrapper :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding-bottom: 2rem;
}

.idfc-contact-us :is(ol, ul) {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

.idfc-contact-us :is(ol, ul) li {
    flex: 1;
}

.idfc-contact-us :is(ol, ul) li a {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #25243B;
    font-size: 1rem;
}

.idfc-contact-us :is(ol, ul) li a:is(:hover, :focus-visible) {
    text-decoration: none;
}

.idfc-contact-us .icon {
    width: 110px;
    height: 110px;
}