.cardv2.block {
    height: 100px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.cardv2.block > div > div > picture > img {
    height: 40px;
    width: 40px;
}
.cardv2.block > div > div > p {
    font-weight: bold;
}
