.cardv2.block {
    height: 90px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cardv2.block > div > div > picture > img {
    height: 45px;
    width: 45px;
}
.cardv2.block > div > div > p {
    font-weight: bold;
}
