.cardv2.block {
    height: 100px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cardv2.block > div > div > picture > img {
    height: 50px;
    width: 50px;
}
.cardv2.block > div > div > p {
    color: red;
}
